.DS_Store
*.hex
*.pyc
TODO
rnodethv4_firmware.bin
rtnode_heltecv4_firmware.bin
rtnode_heltec_v4.bin
rnodethv3_firmware.bin
rtnode_heltecv3_firmware.bin
rtnode_heltec_v3.bin
.firmware_cache/
Release/*.hex
Release/*.zip
Release/*.json
Console/build
build/*
.pio/*
.vscode/*
